@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body{
  height: 100%;
  padding: 1rem;
  grid-area: main;
  display: grid;
  grid-template-rows: 5rem 70% 20%;
}

body >*, .left-panel, textarea{
  background-color: #f3f5fc;
}

.left-panel{
  display:grid;
  grid-template-rows: 70% 5% 25%;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-content: center;

}

.cap-txt{
  font-size: 0.7rem;
}

.caption{
  margin-bottom: 0;
  margin-top: auto;
  margin-left: 2rem;
}

.mensaje-primo{
  padding:2rem;
  min-height: 20rem;
}

.buttons-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;


}
.buttons-box > input{
  border-radius: 10px!important;
  width: 80%;
  height: 4rem;
}


#prime-msg{
  width: 100%;
  border: none;
  overflow:hidden;
  resize: none;
  min-height: 40%;
  font-size: 2rem;
  color: cornflowerblue;
}
#prime-msg::placeholder{
  color: cornflowerblue;
}


.scripted{
  padding: 2rem;
  height: auto;
}
.card{
  border-radius: 20px!important;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow: hidden ;
  margin-bottom: 0;
  margin-top: auto;
  filter: drop-shadow(5px 5px 10px);
}
.card-text{
  height: auto;
}

.logo{
  width: 1.2rem;
}

.logo-cont{
  padding: 2rem;
}

#card-img{
  width: 50%;
}


@media screen and (min-width:768px){
  .buttons-box{
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .buttons-box > input{
    border-radius: 10px!important;
    width: 50%;
    max-width: 17rem;
  }
  #prime-msg{
    min-height: 60%;

  }
  
}
@media (min-width: 1024px){


  body{
    grid-template-columns: 5% 65% 30%;
    grid-template-rows: 1fr ;  
  }
  #prime-msg{
    font-size:1.7rem;
  }
  .card{
    height: 100%;
    font-size: 1.2rem;
  }

  .left-panel{
    padding-top: 7rem;
    
    
  }
}

